<strong>Olá, {{ userOrganizer }}</strong>
<p>Você tem uma nova inscrição para o seu evento:</p>
<p>
  <strong>Evento: </strong> {{ meetup }} <br />
  <strong>Nome: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <br />
</p>
